# Checkpoint 5: Sector Analysis 2

- Create three separate data frames D1, D2 and D3 for each of the three countries containing the observations of funding type FT falling within the 5-15 million USD range. The three data frames should contain:
1. All the columns of the master_frame along with the primary sector and the main sector
2. The total number (or count) of investments for each main sector in a separate column
3. The total amount invested in each main sector in a separate column

In [1]:
# Loading libraries and reading data

import numpy as np
import pandas as pd

# Reading delimited file using pd.read_csv(filepath, sep, header)
# Using encoding = "ISO-8859-1"
companies = pd.read_csv("companies.txt", sep="\t", encoding = "ISO-8859-1")
rounds2 = pd.read_csv("rounds2.csv", encoding = "ISO-8859-1")
mapping_df = pd.read_csv("mapping.csv", encoding = "ISO-8859-1")

In [2]:
# rows having at least one missing value
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [3]:
# remove Nan rows for category list
companies['category_list'].isnull().any(axis=0)
companies = companies[~pd.isnull(companies['category_list'])]
companies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63220 entries, 0 to 66367
Data columns (total 10 columns):
permalink        63220 non-null object
name             63219 non-null object
homepage_url     59074 non-null object
category_list    63220 non-null object
status           63220 non-null object
country_code     57804 non-null object
state_code       56268 non-null object
region           56765 non-null object
city             56767 non-null object
founded_at       49711 non-null object
dtypes: object(10)
memory usage: 5.3+ MB

In [4]:
# cols having at least one missing value
companies['category_list'].isnull().any(axis=0)

False

In [5]:
# remove Nan rows for mapping_df.category_list
mapping_df['category_list'].isnull().any(axis=0)
mapping_df = mapping_df[~pd.isnull(mapping_df['category_list'])]
mapping_df.drop('Blanks', axis=1, inplace=True)
mapping_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 687 entries, 1 to 687
Data columns (total 9 columns):
category_list                              687 non-null object
Automotive & Sports                        687 non-null int64
Cleantech / Semiconductors                 687 non-null int64
Entertainment                              687 non-null int64
Health                                     687 non-null int64
Manufacturing                              687 non-null int64
News, Search and Messaging                 687 non-null int64
Others                                     687 non-null int64
Social, Finance, Analytics, Advertising    687 non-null int64
dtypes: int64(8), object(1)
memory usage: 53.7+ KB

In [6]:
mapping_df.nunique()

category_list                              687
Automotive & Sports                          2
Cleantech / Semiconductors                   2
Entertainment                                2
Health                                       2
Manufacturing                                2
News, Search and Messaging                   2
Others                                       2
Social, Finance, Analytics, Advertising      2
dtype: int64

In [7]:
# Merging the dataframes
# company_permalink,permalink is the common column/key, which has to be provided to the 'on' argument
# how = 'inner' makes sure that all the comapnies ids are reflectd in the master_frame

companies['permalink'] = companies['permalink'].astype(str).str.lower()
rounds2['company_permalink'] = rounds2['company_permalink'].astype(str).str.lower()

master_frame = pd.merge(companies, rounds2, how='inner', left_on='permalink', right_on='company_permalink')

In [8]:
# raised_amount_usd has considerable number of missing value.
# So, it will not help in finding average for funding_round_type
# Let's remove such rows from master_frame

# removing NaN Price rows
master_frame = master_frame[~np.isnan(master_frame['raised_amount_usd'])]

In [9]:
# Creating new column primary_sector by spliting '|' the category_list
master_frame['primary_sector'] = master_frame['category_list'].apply(lambda x : x.split('|')[0])

In [10]:
master_frame.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd,primary_sector
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0,Media
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0,Application Platforms
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0,Apps
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0,Curated Web
6,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0,Games

In [11]:
# Step1: creating a series of main sector from mapping.csv
# Step2: Assigning the created series to mapping_df 
# Step3: Merge master_frame and mapping_df

mapping_df.set_index('category_list',inplace=True)
mapping_df_with_main_sector = mapping_df.idxmax(axis=1)

mapping_df = mapping_df.assign(main_sector=mapping_df_with_main_sector.values)
mapping_df = mapping_df.reset_index(drop=False)


master_primary_main_sector_df = pd.merge(master_frame, mapping_df, how='inner', on='category_list')

In [12]:
master_primary_main_sector_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41541 entries, 0 to 41540
Data columns (total 26 columns):
permalink                                  41541 non-null object
name                                       41540 non-null object
homepage_url                               39403 non-null object
category_list                              41541 non-null object
status                                     41541 non-null object
country_code                               39754 non-null object
state_code                                 39108 non-null object
region                                     39130 non-null object
city                                       39133 non-null object
founded_at                                 32530 non-null object
company_permalink                          41541 non-null object
funding_round_permalink                    41541 non-null object
funding_round_type                         41541 non-null object
funding_round_code                         12708 non-null object
funded_at                                  41541 non-null object
raised_amount_usd                          41541 non-null float64
primary_sector                             41541 non-null object
Automotive & Sports                        41541 non-null int64
Cleantech / Semiconductors                 41541 non-null int64
Entertainment                              41541 non-null int64
Health                                     41541 non-null int64
Manufacturing                              41541 non-null int64
News, Search and Messaging                 41541 non-null int64
Others                                     41541 non-null int64
Social, Finance, Analytics, Advertising    41541 non-null int64
main_sector                                41541 non-null object
dtypes: float64(1), int64(8), object(17)
memory usage: 8.6+ MB

In [13]:
# merged data frame
master_primary_main_sector_df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,primary_sector,Automotive & Sports,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",main_sector
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,Media,0,0,1,0,0,0,0,0,Entertainment
1,/organization/all-def-digital,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,...,Media,0,0,1,0,0,0,0,0,Entertainment
2,/organization/anthill-magazine,Anthill Magazine,http://anthillonline.com/,Media,operating,AUS,7,Melbourne,Melbourne,23-05-2009,...,Media,0,0,1,0,0,0,0,0,Entertainment
3,/organization/basel-switzerland,The Speedel Group,http://www.speedelgroup.com/,Media,closed,CHE,4,Basel,Basel,NaN,...,Media,0,0,1,0,0,0,0,0,Entertainment
4,/organization/basel-switzerland,The Speedel Group,http://www.speedelgroup.com/,Media,closed,CHE,4,Basel,Basel,NaN,...,Media,0,0,1,0,0,0,0,0,Entertainment

In [14]:
master_primary_main_sector_df.shape

(41541, 26)

In [15]:
# group by main_sector and count # of investment for each sector
master_primary_main_sector_df['total_no_of_investment'] = master_primary_main_sector_df.groupby(master_primary_main_sector_df['main_sector'])['funding_round_permalink'].transform('count')

# group by main_sector and count sum of amount invested **(in million USD)** for each sector
master_primary_main_sector_df['total_amount_invested_million_usd'] = master_primary_main_sector_df.groupby(master_primary_main_sector_df['main_sector'])['raised_amount_usd'].transform('sum')/1000000
    
master_primary_main_sector_df

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",main_sector,total_no_of_investment,total_amount_invested_million_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
1,/organization/all-def-digital,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
2,/organization/anthill-magazine,Anthill Magazine,http://anthillonline.com/,Media,operating,AUS,7,Melbourne,Melbourne,23-05-2009,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
3,/organization/basel-switzerland,The Speedel Group,http://www.speedelgroup.com/,Media,closed,CHE,4,Basel,Basel,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
4,/organization/basel-switzerland,The Speedel Group,http://www.speedelgroup.com/,Media,closed,CHE,4,Basel,Basel,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
5,/organization/digital-news-asia,Digital News Asia,http://www.digitalnewsasia.com/,Media,operating,MYS,12,Kuala Lumpur,Petaling Jaya,01-05-2012,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
6,/organization/genius-monkey,Genius Monkey,http://geniusmonkey.com,Media,operating,USA,AZ,Phoenix,Tempe,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
7,/organization/glass-media,Glass Media,http://www.glass-media.com,Media,closed,USA,TX,Dallas,Dallas,01-01-2012,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
8,/organization/global-yodel,Global Yodel,http://www.globalyodel.com/,Media,operating,USA,WA,WA - Other,Anacortes,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
9,/organization/hakka-labs,Hakka Labs,https://www.hakkalabs.co/,Media,operating,USA,NY,New York City,New York,01-01-2012,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
10,/organization/ir-media-ventures,IR Media Ventures,NaN,Media,operating,USA,NY,New York City,Brooklyn,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
11,/organization/marine-construction-technologies,Marine Construction Technologies,http://marinecontech.org/,Media,operating,USA,WA,Seattle,Seattle,01-01-2012,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
12,/organization/media-group-of-america,Media Group of America,http://mgofa.com,Media,operating,USA,DC,"Washington, D.C.",Washington,01-01-2013,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
13,/organization/minutebuzz,MinuteBuzz,http://www.minutebuzz.com,Media,operating,FRA,A8,Paris,Paris,01-02-2010,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
14,/organization/newsflare,Newsflare,http://www.newsflare.com/,Media,operating,GBR,H9,London,London,01-01-2011,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
15,/organization/owl-perception,OWL PERCEPTION,http://www.owlperception.com,Media,operating,FRA,A8,Paris,Paris,23-04-2015,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
16,/organization/rnts-media,RNTS Media,http://www.rntsmedia.com/,Media,operating,NaN,NaN,NaN,NaN,01-01-2010,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
17,/organization/roadio,Roadio,https://roadio.com/,Media,operating,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
18,/organization/stack-media,STACK Media,http://www.stack.com/,Media,operating,USA,OH,Cleveland,Cleveland,01-01-2005,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
19,/organization/stream-tv-networks,Stream TV Networks,http://www.streamtvnetworks.com,Media,operating,USA,PA,Philadelphia,Philadelphia,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
20,/organization/stream-tv-networks,Stream TV Networks,http://www.streamtvnetworks.com,Media,operating,USA,PA,Philadelphia,Philadelphia,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
21,/organization/transterra-media,Transterra Media,https://www.transterramedia.com,Media,operating,LBN,4,Beirut,Beirut,01-04-2013,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
22,/organization/twocubes,TwoCubes,http://www.twocubes.co,Media,closed,NaN,NaN,NaN,NaN,18-02-2015,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
23,/organization/universe-media-holdings,Universe Media Holdings,NaN,Media,closed,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
24,/organization/vsporto,VSporto,https://vsporto.com,Media,operating,USA,MS,Jackson,Madison,01-01-2011,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
25,/organization/xinhua-financial-network,Xinhua Financial Network,http://www.xfn.com/,Media,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
26,/organization/yondr-2,YONDR,http://www.theyondr.com,Media,operating,BEL,13,NaN,NaN,01-09-2014,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
27,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
28,/organization/1000memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
29,/organization/1000memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41511,/organization/tactus-technology,Tactus Technology,http://www.tactustechnology.com,Human Computer Interaction,operating,USA,CA,SF Bay Area,Fremont,01-01-2008,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41512,/organization/tactus-technology,Tactus Technology,http://www.tactustechnology.com,Human Computer Interaction,operating,USA,CA,SF Bay Area,Fremont,01-01-2008,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41513,/organization/tactus-technology,Tactus Technology,http://www.tactustechnology.com,Human Computer Interaction,operating,USA,CA,SF Bay Area,Fremont,01-01-2008,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41514,/organization/taggstar,Taggstar,https://www.taggstar.com,Social Business,operating,GBR,H9,London,London,01-01-2010,...,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising",2841,22615.651564
41515,/organization/tayasola,TayaSola,http://www.tayasola.com/,Energy IT,operating,USA,WA,Seattle,Seattle,15-05-2007,...,1,0,0,0,0,0,0,Cleantech / Semiconductors,10985,155074.113984
41516,/organization/techpepper,TechPepper,http://techpepper.org/,Social News,operating,USA,MA,Boston,Boston,05-09-2013,...,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising",2841,22615.651564
41517,/organization/teloptica,TelOptica,NaN,Optical Communications,operating,USA,TX,Dallas,Richardson,01-01-1996,...,0,0,0,1,0,0,0,Manufacturing,2962,24868.748677
41518,/organization/the-3doodler,The 3Doodler,http://www.the3doodler.com,Gadget,operating,NaN,NaN,NaN,NaN,01-01-2013,...,0,0,0,1,0,0,0,Manufacturing,2962,24868.748677
41519,/organization/the-3doodler,The 3Doodler,http://www.the3doodler.com,Gadget,operating,NaN,NaN,NaN,NaN,01-01-2013,...,0,0,0,1,0,0,0,Manufacturing,2962,24868.748677
41520,/organization/the-film-co,The Film Co,http://www.thefilmco.tv,Video on Demand,operating,GBR,H9,London,London,10-02-2014,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
41521,/organization/you-on-demand-holdings,YOU On Demand Holdings,http://www.yod.com,Video on Demand,ipo,USA,NY,New York City,New York,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
41522,/organization/tobly-co,Tobly.co,http://www.tobly.co,Collaborative Consumption,operating,USA,NY,New York City,New York,01-08-2014,...,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising",2841,22615.651564
41523,/organization/utel,Utel,http://www.utelworld.com/,Collaborative Consumption,operating,FRA,A8,Paris,Paris,NaN,...,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising",2841,22615.651564
41524,/organization/user-interface,User Interface,http://www.userinterface.com,User Interface,operating,USA,CA,Bakersfield,California City,NaN,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41525,/organization/varsity-optics,Varsity Optics,NaN,Eyewear,operating,USA,TN,Nashville,Nashville,NaN,...,0,0,1,0,0,0,0,Health,4139,38757.966607
41526,/organization/vascular-architects,Vascular Architects,http://www.vasculararchitects.com,Architecture,acquired,USA,CA,SF Bay Area,San Jose,NaN,...,0,0,0,1,0,0,0,Manufacturing,2962,24868.748677
41527,/organization/visualmarks,Visualmarks,http://www.visual-marks.com,Parenting,operating,USA,CA,SF Bay Area,San Francisco,NaN,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41528,/organization/vocation,Vocation,http://vocation.com.au,Corporate Training,ipo,AUS,2,Sydney,Sydney,01-01-2013,...,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising",2841,22615.651564
41529,/organization/wing-ma-am,Wing Ma'am,http://www.wingmaam.com/,Gay & Lesbian,operating,USA,PA,Pittsburgh,Pittsburgh,07-10-2012,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41530,/organization/wiselike,Wiselike,https://wiselike.com/,Q&A,operating,USA,CA,SF Bay Area,San Francisco,NaN,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
41531,/organization/womensforum-com,Womensforum,http://www.womensforum.com/,Forums,operating,USA,IL,Chicago,Chicago,01-01-1996,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
41532,/organization/wyzerr,Wyzerr,http://www.Wyzerr.com,User Experience Design,operating,USA,CA,SF Bay Area,Berkeley,04-06-2014,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41533,/organization/wyzerr,Wyzerr,http://www.Wyzerr.com,User Experience Design,operating,USA,CA,SF Bay Area,Berkeley,04-06-2014,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41534,/organization/yaga-inc,"Yaga, Inc.",http://www.yaga.com,Emerging Markets,acquired,USA,CA,SF Bay Area,San Francisco,01-01-2000,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41535,/organization/yeswead,YesWeAd,http://www.yeswead.com,Advertising Networks,operating,ARG,7,Buenos Aires,Buenos Aires,01-11-2013,...,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising",2841,22615.651564
41536,/organization/your-md,Your.MD,http://www.your.md,mHealth,operating,NOR,12,Oslo,Oslo,01-02-2013,...,0,0,1,0,0,0,0,Health,4139,38757.966607
41537,/organization/your-md,Your.MD,http://www.your.md,mHealth,operating,NOR,12,Oslo,Oslo,01-02-2013,...,0,0,1,0,0,0,0,Health,4139,38757.966607
41538,/organization/your-md,Your.MD,http://www.your.md,mHealth,operating,NOR,12,Oslo,Oslo,01-02-2013,...,0,0,1,0,0,0,0,Health,4139,38757.966607
41539,/organization/yunnan-landsun-green-industry-gr...,Yunnan Landsun Green Industry (Group),http://www.lstea.tech-food.com/,Tea,operating,CHN,29,CHN - Other,Simao,01-05-1996,...,0,0,0,0,0,1,0,Others,13264,125139.466714
41540,/organization/zimp-recompensas,Zimp Recompensas,http://www.zimp.me,Loyalty Programs,closed,BRA,27,Sao Paulo,SÃÂ£o Paulo,01-04-2013,...,0,0,0,0,0,1,0,Others,13264,125139.466714

In [16]:
# Filter to 'venture' funding_round_type 
master_primary_main_sector_df = master_primary_main_sector_df[(master_primary_main_sector_df['funding_round_type'] == 'venture') & (master_primary_main_sector_df['raised_amount_usd'].between(5000000, 15000000))]

# Create three separate data frames D1, D2 and D3

D1 = master_primary_main_sector_df[master_primary_main_sector_df['country_code'] == 'USA']
D2 = master_primary_main_sector_df[master_primary_main_sector_df['country_code'] == 'GBR']
D3 = master_primary_main_sector_df[master_primary_main_sector_df['country_code'] == 'IND']

print(D1.shape)

(5949, 28)

In [17]:
D1.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,...,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",main_sector,total_no_of_investment,total_amount_invested_million_usd
1,/organization/all-def-digital,All Def Digital,http://alldefdigital.com,Media,operating,USA,CA,Los Angeles,Los Angeles,NaN,...,0,1,0,0,0,0,0,Entertainment,2488,20359.645846
59,/organization/aeropost,Aeropost,http://aeropost.com,Curated Web,operating,USA,FL,Miami,Miami,01-01-1986,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
63,/organization/akonix-systems,Akonix Systems,http://www.akonix.com,Curated Web,operating,USA,CA,San Diego,San Diego,01-01-2000,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
67,/organization/amberpoint,AmberPoint,http://www.amberpoint.com,Curated Web,acquired,USA,CA,SF Bay Area,Oakland,NaN,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605
68,/organization/amberpoint,AmberPoint,http://www.amberpoint.com,Curated Web,acquired,USA,CA,SF Bay Area,Oakland,NaN,...,0,0,0,0,1,0,0,"News, Search and Messaging",4331,30338.258605

In [18]:
# Total number of investments 
print(D1['funding_round_permalink'].shape)
print(D2['funding_round_permalink'].shape)
print(D3['funding_round_permalink'].shape)

(5949,)
(337,)
(173,)

In [19]:
# Total amount of investment (USD)

print(D1['raised_amount_usd'].sum())
print(D2['raised_amount_usd'].sum())
print(D3['raised_amount_usd'].sum())

53272315512.0
2971451457.0
1517298277.0

In [20]:
# Top Sector name (no. of investment-wise)
# Second Sector name (no. of investment-wise)
# Third Sector name (no. of investment-wise)
# Number of investments in top sector (3)
# Number of investments in second sector (4)
# Number of investments in third sector (5)

print(D1.groupby('main_sector')['total_no_of_investment'].count().sort_values(ascending=False))
print(D2.groupby('main_sector')['total_no_of_investment'].count().sort_values(ascending=False))
print(D3.groupby('main_sector')['total_no_of_investment'].count().sort_values(ascending=False))

main_sector
Others                                     2069
Cleantech / Semiconductors                 1737
Health                                      601
News, Search and Messaging                  552
Manufacturing                               411
Social, Finance, Analytics, Advertising     343
Entertainment                               196
Automotive & Sports                          40
Name: total_no_of_investment, dtype: int64
main_sector
Cleantech / Semiconductors                 107
Others                                     106
News, Search and Messaging                  31
Manufacturing                               29
Entertainment                               28
Social, Finance, Analytics, Advertising     20
Health                                      13
Automotive & Sports                          3
Name: total_no_of_investment, dtype: int64
main_sector
Others                                     74
News, Search and Messaging                 31
Entertainment                              19
Cleantech / Semiconductors                 14
Health                                     13
Manufacturing                              11
Social, Finance, Analytics, Advertising     9
Automotive & Sports                         2
Name: total_no_of_investment, dtype: int64

In [29]:
# For point 3 (top sector count-wise), which company received the highest investment?
#D1 = D1[D1['main_sector'] == 'Others'] -- Can be used for filtering the data even further

print(D1.groupby(['name','main_sector'])['total_no_of_investment'].count().sort_values(ascending=False))
print(D2.groupby(['name','main_sector'])['total_no_of_investment'].count().sort_values(ascending=False))
print(D3.groupby(['name','main_sector'])['total_no_of_investment'].count().sort_values(ascending=False))

name                       main_sector
Tigo Energy                Cleantech / Semiconductors                 8
ForSight Labs              Cleantech / Semiconductors                 7
EndoGastric Solutions      Health                                     7
YuMe                       Social, Finance, Analytics, Advertising    6
Virtustream                Others                                     6
ChoiceStream               Social, Finance, Analytics, Advertising    6
SCIenergy                  Cleantech / Semiconductors                 6
Capella Photonics          Others                                     6
Bit9                       Others                                     5
Ocular Therapeutix         Cleantech / Semiconductors                 5
Visible Measures           Social, Finance, Analytics, Advertising    5
Carbon Design Systems      Others                                     5
Sebacia                    News, Search and Messaging                 5
Damballa                   Social, Finance, Analytics, Advertising    5
Stretch                    Cleantech / Semiconductors                 5
ClariPhy Communications    Cleantech / Semiconductors                 5
Tatara Systems             News, Search and Messaging                 5
ALung Technologies         Cleantech / Semiconductors                 5
Delivery Agent             Others                                     5
Zenverge                   Cleantech / Semiconductors                 5
iRhythm Technologies       Cleantech / Semiconductors                 5
Stemgent                   Cleantech / Semiconductors                 5
Blazent                    Others                                     5
aPriori Technologies       Others                                     5
The FeedRoom               Social, Finance, Analytics, Advertising    5
eASIC                      Cleantech / Semiconductors                 5
Shocking Technologies      Manufacturing                              5
QualtrÃÂ©                 Manufacturing                              5
Aviir                      Cleantech / Semiconductors                 5
Integrien                  Others                                     5
                                                                     ..
Omni Water Solutions       Cleantech / Semiconductors                 1
Omneon                     Entertainment                              1
Open Silicon               Cleantech / Semiconductors                 1
OpenDNS                    Others                                     1
Outpost Games, Inc.        Manufacturing                              1
OpenExchange               Others                                     1
Otonomy                    Cleantech / Semiconductors                 1
Ossia                      News, Search and Messaging                 1
Osprey Medical             Health                                     1
Orlando Telephone Company  News, Search and Messaging                 1
Organica Water             Cleantech / Semiconductors                 1
OrderMotion                Others                                     1
Orchestro                  Others                                     1
Orchestria Corporation     Others                                     1
Oraxion                    Cleantech / Semiconductors                 1
Optovue                    Health                                     1
Optoro                     Others                                     1
Optony                     Cleantech / Semiconductors                 1
Optio Labs                 Others                                     1
Optinuity                  Others                                     1
Optimus                    Others                                     1
Optimum Interactive USA    Others                                     1
Optimer Pharmaceuticals    Cleantech / Semiconductors                 1
Optichron                  Cleantech / Semiconductors                 1
Optasite                   News, Search and Messaging                 1
OptMed                     Cleantech / Semiconductors                 1
Opendoor                   Others                                     1
OpenReach                  Others                                     1
OpenPages                  Others                                     1
.Club Domains              Others                                     1
Name: total_no_of_investment, Length: 4209, dtype: int64
name                      main_sector
SenSage                   Others                                     4
Ubiquisys                 News, Search and Messaging                 4
Electric Cloud            Others                                     4
Antenova                  Manufacturing                              3
Enigmatec                 Others                                     3
mySupermarket             News, Search and Messaging                 3
OpenCloud                 Others                                     3
brylle                    News, Search and Messaging                 3
Nujira                    Manufacturing                              3
EUSA Pharma               Cleantech / Semiconductors                 3
Njini                     Others                                     2
TeraView                  Manufacturing                              2
The Exchange Lab          Social, Finance, Analytics, Advertising    2
Oxitec                    Cleantech / Semiconductors                 2
Immune Targeting Systems  Cleantech / Semiconductors                 2
TopiVert                  Health                                     2
Tribold                   Others                                     2
Imagination Technologies  Cleantech / Semiconductors                 2
Oxford Photovoltaics      Cleantech / Semiconductors                 2
Notonthehighstreet        Others                                     2
CamSemi                   Cleantech / Semiconductors                 2
IPWireless                News, Search and Messaging                 2
Stylistpick               Entertainment                              2
OLED-T                    Manufacturing                              2
Helveta                   Others                                     2
Crowdcube                 Social, Finance, Analytics, Advertising    2
Celoxica                  Manufacturing                              2
Green Biologics           Cleantech / Semiconductors                 2
OneTwoTrip                Entertainment                              2
GlySure                   Health                                     2
                                                                    ..
Omnisens                  Cleantech / Semiconductors                 1
Onyvax                    Cleantech / Semiconductors                 1
PragmatIC Printing        Manufacturing                              1
Redeem                    Cleantech / Semiconductors                 1
Red-M Group               News, Search and Messaging                 1
ReNeuron Group            Cleantech / Semiconductors                 1
Rapid Action Packaging    Manufacturing                              1
Quartet Medicine          Cleantech / Semiconductors                 1
QuantuMDx Group           Cleantech / Semiconductors                 1
Qinec                     Others                                     1
Q Chip                    Cleantech / Semiconductors                 1
Psytechnics               Social, Finance, Analytics, Advertising    1
Proxama                   News, Search and Messaging                 1
Provesica                 Cleantech / Semiconductors                 1
Prodrive                  Automotive & Sports                        1
Plumbee                   Entertainment                              1
Open Energi               Others                                     1
Playcast Media            Entertainment                              1
Plasticell                Cleantech / Semiconductors                 1
Pixsta                    News, Search and Messaging                 1
Piramed                   Cleantech / Semiconductors                 1
Phosphate Therapeutics    Cleantech / Semiconductors                 1
Phase Focus               Health                                     1
Phagenesis                Cleantech / Semiconductors                 1
Perpetuum                 Entertainment                              1
Performance Horizon       Others                                     1
Passado                   News, Search and Messaging                 1
Origami Energy            Others                                     1
OrderDynamics             Others                                     1
ACAL Energy               Cleantech / Semiconductors                 1
Name: total_no_of_investment, Length: 274, dtype: int64
name                                   main_sector
Myntra                                 Others                                     4
Perfint Healthcare                     Cleantech / Semiconductors                 3
CommonFloor                            Others                                     3
Pepperfry.com                          Others                                     3
GupShup                                News, Search and Messaging                 3
FirstCry.com                           Others                                     3
IMImobile                              News, Search and Messaging                 2
NxtGen Data Center & Cloud Services    Others                                     2
Games2Win                              Entertainment                              2
Power2SME                              Others                                     2
Guruji                                 News, Search and Messaging                 2
Hippocampus Learning Centres           Others                                     2
Bluestone.com                          News, Search and Messaging                 2
Bharat Light and Power Group           Cleantech / Semiconductors                 2
Forus Health                           Health                                     2
SunBorne Energy                        Cleantech / Semiconductors                 2
SMS GupShup                            News, Search and Messaging                 2
MyDentist                              Health                                     2
India Property Online                  Others                                     2
Roadrunnr                              News, Search and Messaging                 2
Yatra                                  Entertainment                              2
ItzCash Card Ltd.                      Others                                     2
Quikr                                  News, Search and Messaging                 2
iProf Learning Solutions               Others                                     2
Electronic Payment and Services (EPS)  Manufacturing                              2
Cleartrip                              Entertainment                              2
redBus.in                              News, Search and Messaging                 1
Firepro Systems                        Others                                     1
Ezetap                                 News, Search and Messaging                 1
Eye-Q                                  Health                                     1
                                                                                 ..
Newgen Software Technologies           Others                                     1
Meditrina Hospital                     Others                                     1
Milk Mantra                            Health                                     1
Minglebox                              Social, Finance, Analytics, Advertising    1
mydala                                 Others                                     1
Monarch Innovative Technologies        Others                                     1
Moonfrog Labs                          Entertainment                              1
MySmartPrice                           Others                                     1
NSL Renewable Power                    Cleantech / Semiconductors                 1
Naaptol                                Others                                     1
Nazara Technologies                    News, Search and Messaging                 1
NephroPlus                             Health                                     1
NestAway                               Others                                     1
Network18                              Social, Finance, Analytics, Advertising    1
Nobel Hygiene                          Others                                     1
RezNext                                Others                                     1
Nykaa                                  Entertainment                              1
Octro                                  Entertainment                              1
Omni Hospitals                         Cleantech / Semiconductors                 1
One97 Communications                   News, Search and Messaging                 1
Opinio                                 Others                                     1
POKKT                                  Entertainment                              1
Parcelled.in                           Others                                     1
People Interactive (India)             News, Search and Messaging                 1
Power Mech Projects                    Manufacturing                              1
Prabhat fresh                          Others                                     1
Prime Focus Technologies               Others                                     1
Qikpod                                 Others                                     1
Quick Heal Technologies                Others                                     1
#fame                                  Entertainment                              1
Name: total_no_of_investment, Length: 140, dtype: int64