- Letâ€™s say you are working with a central government body and want to compare the literacy rates of states in India. 

- Your task is to understand the data (i.e. what do the rows and the attributes represent) and find the number of      literates, illiterates, literacy rate etc as guided in the questions below.

In [1]:
import pandas as pd
marks_df = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')
marks_df.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [2]:
marks_df.describe()

          Prefix  Assignment    Tutorial     Midterm    TakeHome       Final
count  99.000000   97.000000   87.000000   83.000000   90.000000   94.000000
mean    7.313131   85.382371   90.790460   67.620723   80.990667   68.309681
std     0.932918   12.669667   13.806141   19.345963   24.142027   18.985373
min     4.000000   28.140000   34.090000   28.750000   16.910000   28.060000
25%     7.000000   80.530000   86.660000   52.810000   71.850000   52.707500
50%     8.000000   89.940000   93.680000   68.750000   88.890000   65.835000
75%     8.000000   95.000000  100.580000   81.250000   98.747500   84.722500
max     8.000000  100.830000  112.580000  110.000000  108.890000  108.890000

In [3]:
marks_df.shape

(99, 6)

In [4]:
marks_df.isnull().sum()

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

In [5]:
# rows having any/all missing values
marks_df.isnull().any(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23     True
24     True
25     True
26     True
27    False
28    False
29    False
      ...
69    False
70    False
71    False
72    False
73     True
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90     True
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
Length: 99, dtype: bool

In [6]:
# sum it up to check how many rows have any/all missing values
marks_df.isnull().any(axis=1).sum()

20

In [7]:
marks_df.isnull().sum(axis=1)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     0
9     0
10    0
11    2
12    2
13    2
14    2
15    0
16    0
17    0
18    0
19    0
20    1
21    0
22    0
23    1
24    1
25    1
26    1
27    0
28    0
29    0
     ..
69    0
70    0
71    0
72    0
73    5
74    0
75    0
76    0
77    0
78    0
79    0
80    0
81    0
82    0
83    0
84    0
85    0
86    0
87    0
88    0
89    0
90    5
91    0
92    0
93    0
94    0
95    0
96    0
97    0
98    0
Length: 99, dtype: int64

In [8]:
# count the number of rows having > 5 missing values
# use len(df.index)
len(marks_df[marks_df.isnull().sum(axis=1) == 5].index)

2

In [9]:
marks_df = marks_df[marks_df.isnull().sum(axis=1) > 5]

In [10]:
marks_df.isnull().sum()

Prefix        0
Assignment    0
Tutorial      0
Midterm       0
TakeHome      0
Final         0
dtype: int64