In [1]:
import numpy as np
import pandas as pd

student_loan_df=pd.read_csv("Inferential Statistics - Student Loan.csv")

In [2]:
student_loan_df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [3]:
student_loan_df.shape

(10000, 6)

In [4]:
student_loan_df.isnull().sum(axis=0)

Customer No.                             0
Exposure at Default (in lakh Rs.)        0
Recovery (%)                             0
Probability of Default                   0
Unnamed: 4                           10000
Unnamed: 5                           10000
dtype: int64

In [5]:
student_loan_df['Recovery (%)'] = student_loan_df['Recovery (%)'].str.strip('%')
print(student_loan_df.head())

   Customer No.  Exposure at Default (in lakh Rs.) Recovery (%)  \
0             1                              11.50        20.00
1             2                               0.24         5.10
2             3                               0.04        24.86
3             4                              13.81         2.29
4             5                              19.84         3.47

   Probability of Default  Unnamed: 4  Unnamed: 5
0                  0.0070         NaN         NaN
1                  0.0033         NaN         NaN
2                  0.0022         NaN         NaN
3                  0.0066         NaN         NaN
4                  0.0020         NaN         NaN

In [6]:
student_loan_df['Recovery (%)'] = student_loan_df['Recovery (%)'].astype(float)
student_loan_df['Recovery (%)'] = student_loan_df['Recovery (%)']/100
print(student_loan_df.head())

   Customer No.  Exposure at Default (in lakh Rs.)  Recovery (%)  \
0             1                              11.50        0.2000
1             2                               0.24        0.0510
2             3                               0.04        0.2486
3             4                              13.81        0.0229
4             5                              19.84        0.0347

   Probability of Default  Unnamed: 4  Unnamed: 5
0                  0.0070         NaN         NaN
1                  0.0033         NaN         NaN
2                  0.0022         NaN         NaN
3                  0.0066         NaN         NaN
4                  0.0020         NaN         NaN

In [7]:
# in the case of default, what would be the value of X, i.e. the money lost by the bank?
student_loan_df['X (Money Lost by Bank in lakh Rs.)'] = student_loan_df['Exposure at Default (in lakh Rs.)'] - student_loan_df['Exposure at Default (in lakh Rs.)']*student_loan_df['Recovery (%)']

In [8]:
student_loan_df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5,X (Money Lost by Bank in lakh Rs.)
0,1,11.50,0.2000,0.0070,NaN,NaN,9.200000
1,2,0.24,0.0510,0.0033,NaN,NaN,0.227760
2,3,0.04,0.2486,0.0022,NaN,NaN,0.030056
3,4,13.81,0.0229,0.0066,NaN,NaN,13.493751
4,5,19.84,0.0347,0.0020,NaN,NaN,19.151552

In [11]:
student_loan_df.drop(['Unnamed: 4', 'Unnamed: 5'],axis=1)

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,X (Money Lost by Bank in lakh Rs.)
0,1,11.50,0.2000,0.0070,9.200000
1,2,0.24,0.0510,0.0033,0.227760
2,3,0.04,0.2486,0.0022,0.030056
3,4,13.81,0.0229,0.0066,13.493751
4,5,19.84,0.0347,0.0020,19.151552
5,6,20.61,0.2084,0.0002,16.314876
6,7,24.90,0.3491,0.0089,16.207410
7,8,18.76,0.3644,0.0059,11.923856
8,9,10.23,0.3959,0.0026,6.179943
9,10,19.55,0.2511,0.0008,14.640995
10,11,1.14,0.3329,0.0000,0.760494
11,12,6.40,0.3734,0.0034,4.010240
12,13,21.45,0.3722,0.0072,13.466310
13,14,8.17,0.1291,0.0050,7.115253
14,15,15.73,0.1468,0.0056,13.420836
15,16,8.73,0.3714,0.0059,5.487678
16,17,24.02,0.3985,0.0029,14.448030
17,18,11.92,0.2654,0.0064,8.756432
18,19,15.78,0.1666,0.0041,13.151052
19,20,0.04,0.1034,0.0043,0.035864
20,21,24.73,0.1551,0.0046,20.894377
21,22,7.49,0.1667,0.0004,6.241417
22,23,20.15,0.0945,0.0041,18.245825
23,24,2.92,0.2640,0.0041,2.149120
24,25,0.30,0.3234,0.0039,0.202980
25,26,1.95,0.1278,0.0016,1.700790
26,27,10.57,0.2881,0.0063,7.524783
27,28,19.41,0.3077,0.0099,13.437543
28,29,16.09,0.2267,0.0022,12.442397
29,30,5.65,0.3208,0.0067,3.837480
...,...,...,...,...,...
9970,9971,10.77,0.3276,0.0009,7.241748
9971,9972,1.19,0.0622,0.0100,1.115982
9972,9973,14.72,0.0503,0.0096,13.979584
9973,9974,13.33,0.3927,0.0000,8.095309
9974,9975,4.01,0.2598,0.0099,2.968202
9975,9976,8.30,0.0269,0.0099,8.076730
9976,9977,7.89,0.2757,0.0017,5.714727
9977,9978,0.06,0.1259,0.0088,0.052446
9978,9979,24.11,0.3268,0.0002,16.230852
9979,9980,13.27,0.3632,0.0019,8.450336
9980,9981,5.19,0.1613,0.0013,4.352853
9981,9982,13.04,0.2562,0.0065,9.699152
9982,9983,10.69,0.3353,0.0100,7.105643
9983,9984,20.18,0.1783,0.0091,16.581906
9984,9985,7.47,0.0447,0.0059,7.136091
9985,9986,9.56,0.0238,0.0037,9.332472
9986,9987,19.52,0.0442,0.0037,18.657216
9987,9988,10.23,0.0296,0.0015,9.927192
9988,9989,17.12,0.0315,0.0056,16.580720
9989,9990,6.14,0.2287,0.0056,4.735782
9990,9991,17.92,0.1436,0.0025,15.346688
9991,9992,14.90,0.2814,0.0050,10.707140
9992,9993,15.31,0.2547,0.0052,11.410543
9993,9994,14.23,0.1813,0.0098,11.650101
9994,9995,16.63,0.3188,0.0063,11.328356
9995,9996,19.79,0.2019,0.0079,15.794399
9996,9997,18.33,0.3838,0.0068,11.294946
9997,9998,10.83,0.2840,0.0037,7.754280
9998,9999,24.29,0.3737,0.0056,15.212827
9999,10000,0.03,0.2255,0.0032,0.023235

In [14]:
total_money_lost_by_bank = (student_loan_df['X (Money Lost by Bank in lakh Rs.)']*student_loan_df['Probability of Default']).sum()
print(round(total_money_lost_by_bank,2))
print(round(student_loan_df['Exposure at Default (in lakh Rs.)'].sum(),2))

493.39
124022.93

In [ ]:
print(11.5*0.007 + 11.5 * 0.993 -20*11.5/100)